__pycache__/
.pytest_cache/
.mypy_cache/
.venv/
venv/
dist/
build/
*.pyc
*.pyo
*.pyd
*.log
.coverage
htmlcov/
.DS_Store
artifacts/
*.env.local
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
